.card {
  padding: 4rem 3rem;
  background-color: $color-grey-light;
  border-radius: 0.5rem;

  &__header {
    width: 100%;

    &__photo {
      width: 100%;
    }
  }

  &__title {
    color: $color-primary;
    font-size: 1rem;
  }

  &__location {
    font-size: 0.875rem;
  }

  &__info {
    font-size: 0.875rem;
    color: $color-tertiary;
    margin: auto;
    text-align: left;
  }

  &__saletype {
    font-size: 0.875rem;
    color: $color-green;
    margin: auto;
    text-align: left;
  }

  &__hometype {
    font-size: 0.875rem;
    color: $color-tertiary;
    margin: auto;
    text-align: left;
  }

  &__sqft {
    font-size: 0.875rem;
    margin: auto;
    text-align: left;
  }

  &__link {
    font-size: 0.875rem;
    color: $color-white;
    padding: 1rem 1.5rem;
    border: 0.1rem solid $color-secondary;
    text-decoration: none;

    &:hover {
      color: $color-white;
      border: 0.1rem solid $color-secondary;
      background-color: $color-primary;
    }
  }
}
